body {
    color: white;
    background: orangered;
    margin: 1px;
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(218, 165, 32);
    padding: 32px;
    font-size: 30px;
    color: rgb(218, 165, 32);
}

.chamada {
    background: rgb(255, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center
}

.chamada-texto {
    margin-right:10%;
}

h1 { 
    font-size:28px;
    margin-left: 20px;
}

P{
    font-size:20px;
    margin-left: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 13px
}

.categoria { 
    padding-left: 35px;
    padding-right: 35px;
    
    border-top: solid 2px rgb(218, 165, 32);;
}

.categoria-videos img {
    opacity: 0,5;
    height: 220px;
}

.categoria-videos img:hover {
    opacity: 0.5;
    border: 3px solid yellow;
}

.categoria h2 {
    color: rgb(218, 165, 32);
}

h2 {
    font-size: 30px;
    padding-left: 20px
}
