body {
    color: black;
    background: orangered;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(132, 0, 0);
    padding: 20px;
    font-size: 30px;
    color: rgb(218, 165, 32);
}

section{
    background: rgb(255, 0, 0);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center
}